.caracteristicas-php {
  margin-top: 3em;
  min-height: 100vh;
  color: #000000;
  display: grid;
  grid-template-rows: 19% 70%;
  background-color: #ffff;
  margin-bottom: 0; }

@media (min-width: 480px) {
  .caracteristicas-php {
    margin-top: 5em;
    min-height: 90vh;
    color: #000000;
    display: grid;
    grid-template-rows: 22% 70%;
    background-color: #ffff;
    margin-bottom: 7em; } }

@media (min-width: 992px) {
  .caracteristicas-php {
    margin-top: 5em;
    min-height: 90vh;
    color: #000000;
    display: grid;
    grid-template-rows: 40% 30%;
    background-color: #ffff;
    margin-bottom: 0; } }

@media (min-width: 1024px) {
  .caracteristicas-php {
    min-height: 85vh;
    padding-top: 2em; } }

.contenedor-texto span {
  display: block;
  color: #000000; }

@media (min-width: 480px) {
  .contenedor-texto span {
    display: initial; } }

.contenedor-texto {
  display: flex;
  align-items: center;
  padding-top: 2em;
  flex-direction: column;
  gap: 1em; }

@media (min-width: 768px) {
  .contenedor-texto {
    display: flex;
    align-items: center;
    padding-top: 0;
    flex-direction: column;
    gap: 1em; } }

.contenedor-texto_titulo {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center; }

@media (min-width: 768px) {
  .contenedor-texto_titulo {
    font-size: 2rem;
    font-weight: bold; } }

.contenedor-texto_parrafo {
  font-size: .9rem;
  color: #0c9bb8;
  font-weight: bold;
  text-align: center;
  margin: 1em 2em; }

@media (min-width: 768px) {
  .contenedor-texto_parrafo {
    font-size: inherit;
    color: #0c9bb8;
    font-weight: bold;
    margin: 0 3em; } }

.contenedor-contenido {
  display: grid;
  grid-template-rows: repeat(4, 1fr); }

@media (min-width: 992px) {
  .contenedor-contenido {
    text-align: inherit;
    margin: auto 5em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 5em; } }

.contenedor-elemento_icono {
  color: #00ccf5;
  font-size: 3rem;
  margin-bottom: .5em;
  display: flex;
  justify-content: center; }

@media (min-width: 992px) {
  .contenedor-elemento_icono {
    color: #00ccf5;
    font-size: 3rem;
    margin-bottom: .5em;
    display: flex;
    justify-content: center;
    padding-right: 1em; } }

.contenedor-elemento_parrafo {
  color: #797878;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin: auto 5em 4em; }

@media (min-width: 992px) {
  .contenedor-elemento_parrafo {
    color: #797878;
    font-weight: bold;
    font-size: inherit;
    margin: 0;
    text-align: inherit; } }

/*********************Seccion preguntas**********/
.seccion-preguntas h2 {
  padding-top: 1.5em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; }

@media (min-width: 480px) {
  .seccion-preguntas h2 {
    padding-top: 0;
    font-size: 2.5rem; } }

.seccion-preguntas {
  min-height: 90vh;
  background-color: #262626;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  overflow: hidden; }

.seccion-preguntas .contenedor-preguntas {
  width: 85%;
  padding-bottom: 3em; }

@media (min-width: 480px) {
  .seccion-preguntas .contenedor-preguntas {
    width: 85%; } }

.seccion-preguntas .borde-negro {
  border-bottom: 1px solid #b9b8b8; }

.seccion-preguntas button {
  outline: none;
  border: none;
  color: #ffff;
  font-weight: bold;
  font-size: 1rem; }

.seccion-preguntas a i {
  color: #ffff; }

.seccion-preguntas .accordion-item {
  margin-bottom: 2em;
  border-bottom: 1px solid #999999; }

.seccion-preguntas .accordion-button:not(.collapsed) {
  color: #ffff;
  background-color: #262626; }

.seccion-preguntas .accordion-button:focus {
  z-index: 3;
  border-color: #999999;
  outline: 0;
  color: #ffff; }

.seccion-preguntas .accordion-button::after {
  background-image: url("https://i0.wp.com/www.vivesmart.com/wp-content/uploads/2019/03/white-down-arrow-png-2.png?ssl=1"); }

.seccion-preguntas .accordion-button:not(.collapsed)::after {
  background-image: url("https://i0.wp.com/www.vivesmart.com/wp-content/uploads/2019/03/white-down-arrow-png-2.png?ssl=1");
  transform: rotate(180deg); }

.seccion-preguntas .accordion-button:focus {
  box-shadow: none; }

/***************Seccion cursos*******************/
.Nuestros-Cursos {
  min-height: 100vh;
  color: #ffff;
  background-color: #ffff; }

.Nuestros-Cursos .contenedor-cursos {
  width: 100%;
  min-height: 100vh;
  background-color: #262626;
  overflow: hidden;
  padding-bottom: 5em; }

.Nuestros-Cursos .titulo-texto {
  width: 70%;
  margin: 4em auto;
  text-align: center; }

.Nuestros-Cursos .titulo-texto h1 {
  margin-bottom: 50px;
  position: relative; }

.Nuestros-Cursos .titulo-texto h1::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00ccf5;
  width: 100px;
  height: 3px; }

.Nuestros-Cursos .titulo-texto p {
  font-size: 18px;
  color: #999999; }

.Nuestros-Cursos .boxes {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 1em;
  background-color: #262626; }

@media screen and (min-width: 480px) {
  .Nuestros-Cursos .boxes {
    width: 70%; } }

@media screen and (min-width: 768px) {
  .Nuestros-Cursos .boxes {
    width: 60%; } }

@media screen and (min-width: 768px) {
  .Nuestros-Cursos .boxes {
    width: 50%; } }

.Nuestros-Cursos .box {
  height: 20em;
  width: 100%;
  border: 2px solid #00ccf5;
  position: relative; }

@media screen and (min-width: 1024px) {
  .Nuestros-Cursos .boxes {
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
    grid-template-rows: 1fr;
    grid-template-rows: 300px;
    grid-gap: 0 15px; }
  .Nuestros-Cursos .box {
    height: inherit;
    border: 2px solid #b9b8b8;
    position: relative; } }

.Nuestros-Cursos .box .inner_box {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: lightgray;
  transition: .5s; }

.Nuestros-Cursos .inner_box a {
  background-color: #262626;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 4rem; }

.Nuestros-Cursos .inner_box i {
  color: #00ccf5; }

.Nuestros-Cursos .box p {
  font-size: 1rem;
  color: #ffff;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  margin-top: 100px;
  opacity: 0; }

@media screen and (min-width: 768px) {
  .Nuestros-Cursos .box p {
    width: 80%; } }

.Nuestros-Cursos .box:hover {
  border-color: #00ccf5; }

.Nuestros-Cursos .box:hover .inner_box {
  margin-top: -130px;
  color: #00ccf5; }

.Nuestros-Cursos .box:hover p {
  opacity: 1;
  margin-top: -2em;
  transition: .4s; }

@media screen and (min-width: 1024px) {
  .Nuestros-Cursos .box {
    border: 2px solid lightgray;
    position: relative; } }

@media screen and (min-width: 1024px) {
  .Nuestros-Cursos .box .inner_box {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: lightgray;
    transition: .5s; }
  .Nuestros-Cursos .inner_box a {
    background-color: #262626;
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 4rem; }
  .Nuestros-Cursos .inner_box i {
    color: #00ccf5; }
  .Nuestros-Cursos .box p {
    font-size: 18px;
    color: #ffff;
    word-break: break-all;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align-last: center;
    margin-top: 100px;
    opacity: 0; }
  .Nuestros-Cursos .box:hover {
    border-color: #00ccf5; }
  .Nuestros-Cursos .box:hover .inner_box {
    margin-top: -130px;
    color: #00ccf5; }
  .Nuestros-Cursos .box:hover p {
    opacity: 1;
    margin-top: -2em;
    transition: .4s; } }

/**********seccion-empresas**********/
.seccion-empresas {
  min-height: 40vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  color: #00ccf5;
  background-color: #00ccf5; }

.seccion-empresas .empresas-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.seccion-empresas .empresas-texto h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #ffff; }

.seccion-empresas .empresas-texto p {
  color: #ffff; }

.seccion-empresas .empresas-iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  margin-bottom: 4em; }

.seccion-empresas .empresas-iconos i {
  font-size: 5rem;
  color: #000000; }

/***************Seccion cursos*******************/
.Nuestros-Cursos-proximos {
  min-height: 100vh;
  color: #ffff;
  background-color: #ffff; }

.Nuestros-Cursos-proximos .contenedor-cursos {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  overflow: hidden; }

.Nuestros-Cursos-proximos .titulo-texto {
  width: 70%;
  margin: 4em auto;
  text-align: center; }

.Nuestros-Cursos-proximos .titulo-texto h1 {
  margin-bottom: 50px;
  position: relative; }

.Nuestros-Cursos-proximos .titulo-texto h1::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00ccf5;
  width: 100px;
  height: 3px; }

.Nuestros-Cursos-proximos .titulo-texto p {
  font-size: 18px;
  color: #999999; }

.Nuestros-Cursos-proximos .boxes {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  grid-gap: 0 15px; }

.Nuestros-Cursos-proximos .box {
  border: 2px solid lightgray;
  position: relative; }

.Nuestros-Cursos-proximos .box .inner_box {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: lightgray;
  transition: .5s; }

.Nuestros-Cursos-proximos .inner_box a {
  background-color: #000000;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 4rem; }

.Nuestros-Cursos-proximos .inner_box i {
  color: #00ccf5; }

.Nuestros-Cursos-proximos .box p {
  font-size: 18px;
  color: #ffff;
  text-align: justify;
  word-break: break-all;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align-last: center;
  margin-top: 100px;
  opacity: 0; }

.Nuestros-Cursos-proximos .box:hover {
  border-color: #00ccf5; }

.Nuestros-Cursos-proximos .box:hover .inner_box {
  margin-top: -130px;
  color: #00ccf5; }

.Nuestros-Cursos-proximos .box:hover p {
  opacity: 1;
  margin-top: -2em;
  transition: .4s; }

/*************Seccion trayectoria**************/
.seccion-trayectoria-php {
  background-color: #ffff;
  min-height: 100vh;
  color: #000000;
  display: grid;
  grid-template-rows: 20% 80%; }

.seccion-trayectoria-php h2 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 1.5em;
  text-align: center; }

.seccion-trayectoria-php span {
  color: #000000;
  border-bottom: 3.5px solid #00ccf5;
  padding-bottom: .2em; }

.seccion-trayectoria-php .trayectoria-contenido {
  margin: 8em 3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.seccion-trayectoria-php .trayectoria-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  margin-left: 2em; }

.seccion-trayectoria-php .trayectoria-texto h3 {
  font-size: 1.2rem; }

.seccion-trayectoria-php .trayectoria-texto i {
  margin-right: .5em;
  font-size: 1.4rem;
  color: #00ccf5; }

.seccion-trayectoria-php .trayectoria-imagen {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/img/pexels-canva-studio-3194523.jpg); }

.seccion-trayectoria-todos {
  box-shadow: 0px 15px 10px -15px #cfcece;
  background-color: #ffff;
  min-height: 75vh;
  color: #000000;
  display: grid;
  grid-template-rows: 20% 80%; }

.seccion-trayectoria-todos h2 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 2em;
  text-align: center; }

.seccion-trayectoria-todos .trayectoria-contenido {
  margin: 2em .5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.seccion-trayectoria-todos .trayectoria-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em; }

.seccion-trayectoria-todos .trayectoria-texto h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #d814f2; }

.seccion-trayectoria-todos .trayectoria-texto h3 {
  font-size: 1.5rem;
  font-weight: bold; }

.seccion-trayectoria-todos .trayectoria-texto p {
  font-size: 1.2rem; }

.seccion-trayectoria-todos .trayectoria-texto .boton-todos {
  display: flex;
  justify-content: flex-end; }

.seccion-trayectoria-todos .boton-todos a {
  border-radius: 10px;
  margin-right: .8em;
  padding: 1em 2em;
  background-color: #8ff14e;
  font-weight: bold;
  color: #ffff;
  transition: .4s all; }

.seccion-trayectoria-todos .boton-todos a:hover {
  color: #000000; }

.seccion-trayectoria-todos .trayectoria-imagen {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/img/pexels-andrea-piacquadio-3769021.jpg); }
