$negro: #000000;
$blanco: #ffff;
$gris: #999999;
$gris-fuerte: #555353;
$fuenteParrafo: 'Open Sans', sans-serif;
$fuenteHeading: 'PT Serif', sans-serif;
$primario: #c3e1ec;
$colorTitulo: #00ccf5;
$colorBoton: #c2d329;